aiogram==2.18
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.5
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.9
databases==0.5.3
environs==8.0.0
et-xmlfile==1.1.0
frozenlist==1.2.0
greenlet==1.1.2
idna==3.3
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
multidict==5.2.0
openpyxl==3.0.9
phonenumbers==8.12.40
psycopg2==2.9.3
pybabel==0.0.0.dev0
python-dotenv==0.19.2
pytz==2021.3
SQLAlchemy==1.4.29
yarl==1.7.2
